<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>Conferencia. Listado de ponentes</title>
</head>
<body>

	<div layout:fragment="content" class="container">
		<div class="card-group">
			<div class="card">
				<img class="card-img-top"
					src="http://lorempixel.com/500/500/people/1/Foto de ponente"
					alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Ponente</h5>
					<p class="card-text">Rollo patatero de que el ponente mola
						mogollón y bla...</p>
					<p class="card-text">
						<small class="text-muted">Last updated 3 mins ago</small>
					</p>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top"
					src="http://lorempixel.com/500/500/people/2/Foto de ponente"
					alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Ponente</h5>
					<p class="card-text">Rollo patatero de que el ponente mola
						mogollón y bla...</p>
					<p class="card-text">
						<small class="text-muted">Last updated 3 mins ago</small>
					</p>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top"
					src="http://lorempixel.com/500/500/people/3/Foto de ponente"
					alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Ponente</h5>
					<p class="card-text">Rollo patatero de que el ponente mola
						mogollón y bla...</p>
					<p class="card-text">
						<small class="text-muted">Last updated 3 mins ago</small>
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
