<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>Conferencia. Listado de ponentes</title>
</head>
<body>

	<div layout:fragment="content" class="container">
<!-- 		<p th:text="${ponentes}">Aquí tiene que salir una depuración de ponentes</p> -->
		<div class="card-group">
			<div class="card" th:each="ponente: ${ponentes}">
				<img class="card-img-top"
					th:src="@{http://lorempixel.com/500/500/people/{id}/Foto de ponente(id=${ponente.id})}"
					alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title" th:text="${ponente.nombre}">Ponente</h5>
					<p class="card-text" th:text="${ponente.experiencia}">Rollo patatero de que el ponente mola
						mogollón y bla...</p>
				</div>
			</div>

		</div>
	</div>
</body>
</html>
