<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="renderer" class="com.ipartek.formacion.spring.springbasico.BeautifulStandardOutMessageRenderer">
		<property name="messageProvider">
			<ref bean="providerask"/>
		</property>
	</bean>
	<bean id="provider" class="com.ipartek.formacion.spring.springbasico.HelloWorldMessageProvider" />
	<bean id="providerask" class="com.ipartek.formacion.spring.springbasico.AskStandardInMessageProvider" />
</beans>
